.display {
  width: 100%;
  height: 125px;
  background-color: #323335;
  border-radius: 75px;
  color: white;
  font-size: 48px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}
